@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Source+Code+Pro:wght@300&display=swap');
body{
  overflow-x: hidden;
 
}
html,body {
  margin:0;
  padding:0;
  overflow:visible;
}

@font-face {
  font-family: "Boogaloo";
  src: url("/fonts/Boogaloo.ttf");
}
.Hero {
  border-radius: 20px;
}
.stats {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.Hero:hover .stats {
  opacity: 1;
}
.About{
  font-size: 18px;
}
.Window{
  position: relative;
  margin-top: 20px;
  left: 30%;
}
.Boy{
  position: relative;
  margin-top: 200px;
  margin-bottom: -35px;

}
.Button-custom{
  background-color: #7579FF;
  box-shadow: 4px 5px 0px #B224EF;
border-radius: 12px;
color: white;
height: 40px;
margin-top: 2%;
text-transform: none;
font-size:24px;

}
.Button:hover{
  background-color: #B224EF;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-weight: bold;
  
}
.floating-img{
  transform: translateY(-10%);
  animation: floater 5s infinite;
  transition: ease 0.5s;
  
}
@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}
.Skill-tag{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -128px;
  border-radius: 20px;
  text-align: center;
 

  opacity: 0;
  transition: .1s ease;
  background-color: #EEB0B0;
  
}
.Skill-box{
  position: relative;
}
.Skill-box:hover .Skill-tag{
  opacity: 1;
}

.Button-More:hover{
  background-color: #7579FF;
  color: black;
}
.swiper-slide {
  width: 10px;
}
.Checkout:hover{
  background-color: #7579FF;
  color: black;
  border-radius: 10px;
}
.Footer{
  background-image: url(/footer.svg);
  background-size: cover;
  width: 100%;
}
.welcome:hover{
  
  font-family: 'Boogaloo';
  color: black;
  font-weight: bold;
  background-color: #7579FF;
}